<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		
	</head>
	<body>
		<form action="http://localhost:6002/locationFromDevice" method="post" class="gateway_form">
			<button type="submit">Get Trace</button>
			<br>
			<br>
			<input name="assetName" type="text"  placeholder="Asset Name">
			<br>
			<br>
		</form>
	</body>
</html>